## How to use

### Data processing related to TLE file

#### Read and parse a TLE file

In [7]:
from orbdtools import TLE
import numpy as np

tle_file = 'test/tle_20220524.txt'
epoch_obs = '2022-05-24T08:38:34.000Z' # Approximate epoch of the observed arc, which is optional
tle = TLE.from_file(tle_file,epoch_obs) # Only TLEs within a week before and after the observation epoch are considered
# tle = TLE.from_file(tle_file) # All TLEs are considered
print(tle.range_epoch) # Epoch coverage for TLE files in format of [min, median, max]
print(tle.df)

['2022-05-18T23:07:15.444Z', '2022-05-23T22:00:02.000Z', '2022-05-24T06:32:39.874Z']
      noradid         a       ecc      inc      raan      argp         M  \
0          12  1.304418  0.166514  32.9039   45.4436  180.8056  178.9633
1          16  1.382645  0.202589  34.2706  279.0012  330.3423   19.5896
2          20  1.295722  0.166424  33.3391  187.3990   51.1381  322.6333
3          47  1.117461  0.022290  66.6668   68.6135  148.8539  212.6003
4          58  1.170848  0.016506  28.3260  117.2769  147.1491  213.9434
...       ...       ...       ...      ...       ...       ...       ...
4899    52139  1.071459  0.000154  53.2175  182.0098   49.6208  205.5672
4900    52140  1.056656  0.000150  53.2178  177.6187    3.1631   91.0036
4901    52150  1.092821  0.001393  97.8023  316.6473   82.2112  278.0687
4902    52157  1.100601  0.001489  97.9538  226.0483   88.0770  272.2145
4903    52197  1.067177  0.001171  53.0031  104.4257   88.4990  271.6088

             h     bstar                     epoch
0     1.126166  0.000332  2022-05-23T00:12:38.995Z
1     1.151477  0.000083  2022-05-23T10:23:35.623Z
2     1.122423  0.000292  2022-05-24T03:21:33.329Z
3     1.056838  0.000112  2022-05-23T20:26:16.445Z
4     1.081910  0.000024  2022-05-23T14:05:19.316Z
...        ...       ...                       ...
4899  1.035113 -0.021204  2022-05-23T22:00:02.000Z
4900  1.027938 -0.006656  2022-05-24T04:00:01.000Z
4901  1.045380  0.000248  2022-05-23T21:35:55.580Z
4902  1.049094  0.000266  2022-05-23T17:12:17.517Z
4903  1.033042  0.000100  2022-05-22T11:29:38.131Z

[4904 rows x 10 columns]

#### Calculate the mean orbital elements in a certain epoch

In [8]:
tle_epoch = tle.atEpoch(epoch_obs)
print(tle_epoch.df)

      noradid         a       ecc      inc        raan        argp  \
0          12  1.304417  0.166513  32.9039   40.713117  187.915961
1          16  1.382645  0.202589  34.2706  276.324147  334.252270
2          20  1.295722  0.166424  33.3391  186.614059   52.307451
3          47  1.117461  0.022290  66.6668   67.253866  148.481221
4          58  1.170848  0.016506  28.3260  113.355804  153.550636
...       ...       ...       ...      ...         ...         ...
4899    52139  1.071776  0.000164  53.2175  179.932557   52.757111
4900    52140  1.056793  0.000151  53.2178  176.667040    6.313130
4901    52150  1.092820  0.001392  97.8023  317.102104   80.688465
4902    52157  1.100600  0.001489  97.9538  226.680457   86.009903
4903    52197  1.067168  0.001170  53.0031   95.438889   94.536045

               M         h     bstar                     epoch
0     347.523352  1.126166  0.000332  2022-05-24T08:38:34.000Z
1     279.966599  1.151477  0.000083  2022-05-24T08:38:34.000Z
2     158.957522  1.122423  0.000292  2022-05-24T08:38:34.000Z
3     333.117813  1.056837  0.000112  2022-05-24T08:38:34.000Z
4       0.943588  1.081910  0.000024  2022-05-24T08:38:34.000Z
...          ...       ...       ...                       ...
4899  136.530097  1.035266 -0.021204  2022-05-24T08:38:34.000Z
4900  101.146194  1.028004 -0.006656  2022-05-24T08:38:34.000Z
4901  227.963040  1.045379  0.000248  2022-05-24T08:38:34.000Z
4902   88.258639  1.049094  0.000266  2022-05-24T08:38:34.000Z
4903  302.296320  1.033038  0.000100  2022-05-24T08:38:34.000Z

[4904 rows x 10 columns]

#### Orbital Propagation

##### Calculate cartesian coordinates in GCRF(Geocentric Celetial Reference Frame) of space objects over a period of time

In [21]:
t_list = ['2022-05-23T16:22:49.408Z', '2022-05-23T18:48:34.488Z',
           '2022-05-23T18:09:35.640Z', '2022-05-23T20:54:20.228Z',
           '2022-05-23T20:29:03.621Z', '2022-05-23T23:24:11.831Z',
           '2022-05-24T00:38:08.803Z', '2022-05-24T02:33:32.466Z',
           '2022-05-23T21:10:37.703Z', '2022-05-23T17:48:24.865Z']
xyz_gcrf = tle.predict(t_list)
print(xyz_gcrf.shape)

(4904, 10, 3)

### Arc Associating

#### Match the observation arc based on optical angle measurement data to space objects in TLE file

In [ ]:
from orbdtools import ArcObs
import numpy as np

obs_data = np.loadtxt('obs.dat',dtype=str,skiprows=1) # Load the observation file
t = obs_data[:,0] # Obsevation time in UTC
xyz_site = obs_data[:,1:4].astype(float) # Cartesian coordinates of site in GCRF, [km]
radec = obs_data[:,4:6].astype(float) # Ra and Dec of space object, [deg]
r = obs_data[:,6].astype(float) # Slant distance of the space object relative to the site

arc = ArcObs({'t':t,'radec':radec,'xyz_site':pos_obs})
arc.lowess_smooth()
arc.arc_match(tle)

#### Match of observation arc based on radar measurement data(range+angle) to space objects in TLE file